
@import url('https://fonts.googleapis.com/css2?family= Sono & display = swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Sono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}



nav{
    
    height: 2.5rem!important;
    background-color: white;
    width: 100% !important;
    margin-left: 0;
    box-shadow:  2px 5px 2px 1px rgba(0, 0, 0, 0.2);
  
}


input{
    border-radius: 7px !important;
    background-color: rgba(250, 246, 245, 0.789);
    border: none;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


#addTechBtn{
    margin-bottom: -4rem;
    margin-top: -4rem;
    background-color: #282D4F;
    border: none;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 10rem;
    border-radius: 5px;
    font-family: 'PT Mono', monospace;
}
    

label{
    font-family: 'PT Mono', monospace;
    color: rgb(88, 86, 86);
}
#fullname{
    width: 18%;
   
}

button{
 border:  none;
 color: white;
 height: 35px;
 box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
 font-weight: 700;
 font-family: 'PT Mono', monospace !important;

}
h1{
    font-family: 'PT Mono', monospace;
    color:rgb(88, 86, 86);
    font-weight: 500;
}

h4{
    font-family: 'PT Mono', monospace;
    color: rgb(88, 86, 86);
    font-weight: 500 !important;
}

h2{
    font-family: 'PT Mono', monospace;
    color: rgb(88, 86, 86);
    font-weight: 500;
}

#icon{
    margin-left: 4rem;
}
.bodyAll{
    padding-top: 12vh;
    background: linear-gradient(45deg, #dfe5e8,#d3d4db, #a3aac3, #371B58);


    background-size: 300% 300%;
    animation: colors 15s ease-out infinite ;
}


#cad{
    font-weight: 700;
    font-family: 'PT Mono', monospace;
    background-color: #282D4F;
    color: white !important;

}



#img-code{
    width: 100px;
   align-items: center !important;
  
}

button:hover{
    filter: contrast(130%);
}





#made {
    color: rgb(88, 86, 86);
    font-weight: 500;
    font-family: 'PT Mono', monospace;
    text-align: center;
}

#git{
    width: 5%;
    height: 5%;
    opacity: 70%;
    margin-top: 0.2rem;
}

#git:hover{
    opacity: 120%;
  filter: contrast(120%);
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}